/* background property */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 5rem;
  background: black;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-center {
  width: 90vw;
  max-width: 1320px;
  margin: 0 auto;
}

.nav-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.hero-section {
  min-height: calc(100vh - 5rem);
  background: brown;
  position: relative;
}

@media screen and (min-width: 600px) {
  .hero-section {
    min-height: calc(100vh - 5rem);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0)
      ),
      url(./mango-bkgrd.jpg) center/cover no-repeat;
  }
}

.hero-center {
  width: 90vw;
  max-width: 1320px;
  margin: 0;
  padding: 5rem 0;
  text-transform: capitalize;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-center h1 {
  text-transform: uppercase;
  color: aqua;
  /* margin-top: 2rem; */
  letter-spacing: 2px;
}

.hero-center p {
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}

.hero-center button {
  background: transparent;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 5px solid green;
}

.temp {
  min-height: 100vh;
  background-color: gray;
}
