/* background property */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
}

.navbar {
  color: white;
}

.navbar .logo {
  margin: 40px 0 40px 200px;
}

.hero {
  color: white;
  margin-left: 200px;
  max-width: 700px;
}
